In [1]:
import os
import csv
import numpy as np
import pandas as pd
import scipy.constants as sc

In [2]:
data = pd.read_csv('data.csv')
data = data.drop('Unnamed: 0', axis=1)
data.head()

,Database name,Label,Name,Temperature range 1,a_2,a_1,a0,a1,a2,a3,...,Temperature range 2,a_2.2,a_1.2,a0.2,a1.2,a2.2,a3.2,a4.2,a5.2,a6.2
0,primaryThermoLibrary,15,Ar,200 to 1000 K,0.0,0.0,2.50000,0.000000,0.000000e+00,0.000000e+00,...,1000 to 6000 K,0.0,0.0,2.50000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,-745.375,4.379670
1,primaryThermoLibrary,16,N2,200 to 1000 K,0.0,0.0,3.53101,-0.000124,-5.029990e-07,2.435310e-09,...,1000 to 6000 K,0.0,0.0,3.53101,-0.000124,-5.029990e-07,2.435310e-09,-1.408810e-12,-1046.980,2.967470
2,primaryThermoLibrary,17,He,200 to 1000 K,0.0,0.0,2.50000,0.000000,0.000000e+00,0.000000e+00,...,1000 to 6000 K,0.0,0.0,2.50000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,-745.375,0.928724
3,primaryThermoLibrary,30,Cl2,200 to 1000 K,0.0,0.0,2.73638,0.007835,-1.451050e-05,1.257310e-08,...,1000 to 6000 K,0.0,0.0,2.73638,0.007835,-1.451050e-05,1.257310e-08,-4.132470e-12,-1058.800,9.445570
4,primaryThermoLibrary,31,Cl,200 to 1000 K,0.0,0.0,2.26062,0.001542,-6.802840e-07,-1.599730e-09,...,1000 to 6000 K,0.0,0.0,2.26062,0.001542,-6.802840e-07,-1.599730e-09,1.154170e-12,13855.300,6.570210

In [3]:
temperature = 700
data['temp_check1'] = (temperature > data['Temperature range 1'].str.split().str[0].astype(float)) & (temperature < data['Temperature range 1'].str.split().str[-2].astype(float))
data['temp_check2'] = (temperature > data['Temperature range 2'].str.split().str[0].astype(float)) & (temperature < data['Temperature range 2'].str.split().str[-2].astype(float))

In [4]:
data.head()

,Database name,Label,Name,Temperature range 1,a_2,a_1,a0,a1,a2,a3,...,a_1.2,a0.2,a1.2,a2.2,a3.2,a4.2,a5.2,a6.2,temp_check1,temp_check2
0,primaryThermoLibrary,15,Ar,200 to 1000 K,0.0,0.0,2.50000,0.000000,0.000000e+00,0.000000e+00,...,0.0,2.50000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,-745.375,4.379670,True,False
1,primaryThermoLibrary,16,N2,200 to 1000 K,0.0,0.0,3.53101,-0.000124,-5.029990e-07,2.435310e-09,...,0.0,3.53101,-0.000124,-5.029990e-07,2.435310e-09,-1.408810e-12,-1046.980,2.967470,True,False
2,primaryThermoLibrary,17,He,200 to 1000 K,0.0,0.0,2.50000,0.000000,0.000000e+00,0.000000e+00,...,0.0,2.50000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,-745.375,0.928724,True,False
3,primaryThermoLibrary,30,Cl2,200 to 1000 K,0.0,0.0,2.73638,0.007835,-1.451050e-05,1.257310e-08,...,0.0,2.73638,0.007835,-1.451050e-05,1.257310e-08,-4.132470e-12,-1058.800,9.445570,True,False
4,primaryThermoLibrary,31,Cl,200 to 1000 K,0.0,0.0,2.26062,0.001542,-6.802840e-07,-1.599730e-09,...,0.0,2.26062,0.001542,-6.802840e-07,-1.599730e-09,1.154170e-12,13855.300,6.570210,True,False

In [5]:
data['a_2'] = data['a_2'].astype(float)
data['a_1'] = data['a_1'].astype(float)
data['a0'] = data['a0'].astype(float)
data['a1'] = data['a1'].astype(float)
data['a2'] = data['a2'].astype(float)
data['a3'] = data['a3'].astype(float)
data['a4'] = data['a4'].astype(float)
data['a5'] = data['a5'].astype(float)
data['a6'] = data['a6'].astype(float)

data['a_2.2'] = data['a_2.2'].astype(float)
data['a_1.2'] = data['a_1.2'].astype(float)
data['a0.2'] = data['a0.2'].astype(float)
data['a1.2'] = data['a1.2'].astype(float)
data['a2.2'] = data['a2.2'].astype(float)
data['a3.2'] = data['a3.2'].astype(float)
data['a4.2'] = data['a4.2'].astype(float)
data['a5.2'] = data['a5.2'].astype(float)
data['a6.2'] = data['a6.2'].astype(float)

T = temperature

In [90]:
def calculate_H(T):
    val = sc.R*T*(-1*data['a_2']*T**-2 + data['a_1']*T**-1*np.log(T) + data['a0'] + 0.5*data['a1']*T + (data['a2']*T**2)/3 + 0.25*data['a3']*T**3 + 0.2*data['a4']*T**4 + data['a5']*T**-1)    

    return val

def calculate_H2(T):
    val = sc.R*T*(-1*data['a_2.2']*T**-2 + data['a_1.2']*T**-1*np.log(T) + data['a0.2'] + 0.5*data['a1.2']*T + (data['a2.2']*T**2)/3 + 0.25*data['a3.2']*T**3 + 0.2*data['a4.2']*T**4 + data['a5.2']*T**-1)    

    return val

In [91]:
string_H = 'H_' + str(T)
string_S = 'S_' + str(T)
data[string_H] = data['temp_check1'].apply(lambda x: calculate_H(T) if x==True else calculate_H2(T))

In [92]:
data.head()

,Database name,Label,Name,Temperature range 1,a_2,a_1,a0,a1,a2,a3,...,a1.2,a2.2,a3.2,a4.2,a5.2,a6.2,temp_check1,temp_check2,H_700,S_700
0,primaryThermoLibrary,15,Ar,200 to 1000 K,0.0,0.0,2.50000,0.000000,0.000000e+00,0.000000e+00,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,-745.375,4.379670,True,False,8352.917008,8352.917008
1,primaryThermoLibrary,16,N2,200 to 1000 K,0.0,0.0,3.53101,-0.000124,-5.029990e-07,2.435310e-09,...,-0.000124,-5.029990e-07,2.435310e-09,-1.408810e-12,-1046.980,2.967470,True,False,8352.917008,11937.441863
2,primaryThermoLibrary,17,He,200 to 1000 K,0.0,0.0,2.50000,0.000000,0.000000e+00,0.000000e+00,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,-745.375,0.928724,True,False,8352.917008,8352.917008
3,primaryThermoLibrary,30,Cl2,200 to 1000 K,0.0,0.0,2.73638,0.007835,-1.451050e-05,1.257310e-08,...,0.007835,-1.451050e-05,1.257310e-08,-4.132470e-12,-1058.800,9.445570,True,False,8352.917008,14409.482104
4,primaryThermoLibrary,31,Cl,200 to 1000 K,0.0,0.0,2.26062,0.001542,-6.802840e-07,-1.599730e-09,...,0.001542,-6.802840e-07,-1.599730e-09,1.154170e-12,13855.300,6.570210,True,False,8352.917008,130374.138213

In [25]:
data_false = data[data['temp_check1'] == False]
data_false.head(80)

,Database name,Label,Name,Temperature range 1,a_2,a_1,a0,a1,a2,a3,...,a0.2,a1.2,a2.2,a3.2,a4.2,a5.2,a6.2,temp_check1,temp_check2,H_700
Sno,,,,,,,,,,,,,,,,,,,,,
0,CBS_QB3_1dHR,43,AIBN,10 to 504.597 K,0.0,0.0,2.57296,0.130115,-0.000234,3.054190e-07,...,2.57296,0.130115,-0.000234,3.054190e-07,-1.680320e-10,32086.30,16.77840,False,True,429427.888681
0,thermo_DFT_CCSDTF12_BAC,141,cyanoisopropyl,10 to 420.268 K,0.0,0.0,3.59561,0.043377,-0.000150,3.758000e-07,...,3.59561,0.043377,-0.000150,3.758000e-07,-3.186990e-10,21337.90,10.64860,False,True,242490.667423
1,thermo_DFT_CCSDTF12_BAC,142,cyanoisopropylOOH,10 to 357.267 K,0.0,0.0,3.69904,0.024146,0.000243,-8.480820e-07,...,3.69904,0.024146,0.000243,-8.480820e-07,8.456930e-10,-7791.09,11.55840,False,True,49672.978603
2,thermo_DFT_CCSDTF12_BAC,143,cyanoisopropane,10 to 226.564 K,0.0,0.0,3.91153,0.007816,0.000180,-5.883860e-07,...,3.91153,0.007816,0.000180,-5.883860e-07,6.552960e-10,2094.77,9.32227,False,True,116924.168252
3,thermo_DFT_CCSDTF12_BAC,144,cyanoisopropylOO,10 to 324.224 K,0.0,0.0,3.73277,0.022880,0.000219,-8.185820e-07,...,3.73277,0.022880,0.000219,-8.185820e-07,8.854190e-10,10803.40,12.66620,False,True,204842.357222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,primaryNS,60,3_N4H3,10 to 574.563 K,0.0,0.0,3.96213,0.002183,0.000055,-1.008930e-07,...,3.96213,0.002183,0.000055,-1.008930e-07,5.660690e-11,79968.70,7.03098,False,True,710025.743625
37,primaryNS,61,6_N4H2,10 to 521.1 K,0.0,0.0,4.07940,-0.008093,0.000110,-2.093190e-07,...,4.07940,-0.008093,0.000110,-2.093190e-07,1.286280e-10,76642.80,7.89803,False,True,680895.928825
38,primaryNS,62,7_N4H,10 to 518.727 K,0.0,0.0,3.95350,0.002903,0.000050,-1.092090e-07,...,3.95350,0.002903,0.000050,-1.092090e-07,7.115340e-11,64187.60,8.18369,False,True,575477.414047
39,primaryNS,63,8_N4H2,10 to 602.615 K,0.0,0.0,3.95142,0.002735,0.000058,-1.079740e-07,...,3.95142,0.002735,0.000058,-1.079740e-07,5.955860e-11,93095.50,8.58962,False,True,820906.705537
40,primaryNS,64,9_N4H2,10 to 644.77 K,0.0,0.0,4.13283,-0.010618,0.000099,-1.526800e-07,...,4.13283,-0.010618,0.000099,-1.526800e-07,7.597260e-11,79196.30,6.92906,False,True,700031.120021